body{
    font-family: Arial;
    /* background-image: url(https://ollato.in/images/police.png); */
background-color: #ffffff;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: contain;
   
    
}
.form-box {
width: fit-content;
padding: 12px;
margin: auto;
margin-top: -517px;
margin-left: 230px;
}

.form-right-container{
background: #ffffffde;
margin-top: 61px;
}


.second{
position: relative;
    margin-top: -568px;
    margin-left: 327px;
}

/* https://thumbs.dreamstime.com/z/access-control-system-alarm-zones-security-website-banner-concept-143795890.jpg */


/* media query */
@media only screen and (max-width: 400px) {

    .index-log{
          margin-top: -65px;
    }
    .logo-text{
      display: none;
    }
    .img{
      display: none;
    }
    .company-detail{
      margin-right: 0px;
    }

    .text-end {
      text-align: center !important;
    }
    p-5{
      padding:1px 0 1px  !important;
    }
    
    .btn {
      background-color: #644537;
      padding: 10px 40px;
      color: #fff;
  }
  .p-5 {
    padding: 3rem 0px!important;
}
  .mob{
     display: none;
  }
  
  .form-box{
    background-color: #644537;
  }


 .footer{
    padding: 24px;
    font-size: 13px;
 }   

 .footer-right {
    text-align: left;
    margin-top: -40px;
}

.header-right{
    display:none
}
  }
  
